$min: 300px;
$max: 500px;

.categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($min, auto));
    grid-gap: 30px;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: $max;
    border: 1px solid #212529;
    border-radius: 20px;
    overflow: hidden;
    min-height: $min;
    background-color: #cecece;
}