@import "~bootstrap/scss/bootstrap";

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}

a {
    text-decoration: none;
}

image {
    display: block;
    width: 100%;
}

.text {
    color: #ffffff;
    padding: 10px;
}